In [17]:
from models import monte_carlo_method
import gym

In [18]:
# instantiate env and monte-carlo prediction:

env = gym.make('Blackjack-v1')

mc = monte_carlo_method.MonteCarloPrediction(env=env, 
                                             num_timesteps=1000,
                                             num_iterations=100000)

In [19]:
# run monte carlo prediction:

df = mc.value_function()

In [20]:
# Look at average return (value) for each state:

df.sort_values('value',ascending=False)

              state  total_return    N     value
96    (21, 9, True)         435.0  437  0.995423
27    (21, 7, True)         430.0  432  0.995370
39    (21, 6, True)         420.0  423  0.992908
171   (21, 8, True)         405.0  409  0.990220
137   (21, 4, True)         407.0  413  0.985472
..              ...           ...  ...       ...
26   (16, 1, False)        -611.0  994 -0.614688
140  (14, 1, False)        -596.0  939 -0.634718
65   (17, 1, False)        -606.0  943 -0.642630
63   (15, 1, False)        -631.0  971 -0.649846
266   (17, 1, True)         -99.0  140 -0.707143

[280 rows x 4 columns]